@charset "UTF-8";
/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет акцента текста #2196F3 */
/* дополнительный цвет текста (хедер, футер) #FFFFFF */
/* цвет ссылок футера  rgba(255, 255, 255, 0.6); */
/* основной цвет фона  #ffffff */
/* вторичный цвет фона  #F5F4FA */
/* дополнительный цвет фона #2F303A */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --additional-text-color: #ffffff;
  --footer-link-text-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --additional-background-color: #2f303a;
}

@keyframes current {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.list {
  list-style: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header__logo, .footer__logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .header__logo, .footer__logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
    letter-spacing: 0.03em;
  }
}

.hero__btn, .btn-footer, .btn-form {
  min-width: 200px;
  min-height: 50px;
  color: var(--additional-text-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__container--mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9;
  padding-top: 10px;
  padding-bottom: 48px;
  background-color: #fff;
  transform: translateY(-120%);
  transition: transform 250ms;
}

.mobile-conteiner.is-open {
  transform: translateY(0);
}

.mobile-conteiner .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-conteiner {
    display: none;
  }
}

.mobile__btn-close {
  display: block;
  margin-left: auto;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

.mobile__btn-close:hover .mobile__btn-icon,
.mobile__btn-close:focus .mobile__btn-icon {
  fill: var(--accent-color);
}

.mobile__nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile__contacts {
  margin-top: auto;
}

.mobile__contacts-item + .mobile__contacts-item {
  margin-top: 32px;
}

.mobile__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile__nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile__nav-link.current {
  color: var(--accent-color);
}

.mobile__nav-link:hover, .mobile__nav-link:focus {
  color: var(--accent-color);
}

.mobile__contacts-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile__contacts-link--mail {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 22px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.mobile__social-link {
  display: block;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 13px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 400px) {
  .mobile__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
}

.mobile__social-item {
  padding: 0 10px;
}

.mobile__social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__social-item:nth-child(1) {
  padding-left: 0;
}

.header__container--nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container--nav {
    display: none;
  }
}

.header__container--contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__container--contacts {
    display: none;
  }
}

.mobil__btn-menu {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .mobil__btn-menu {
    display: none;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__logo--theme-dark {
  color: #000000;
}

.header {
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: 88px;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__link.current {
  color: var(--accent-color);
}

.header__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  animation-name: current;
  animation-duration: 250ms;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header__contacts {
    flex-direction: row;
  }
}

@media screen and (max-width: 1199px) {
  .header__contacts-item:nth-child(2) {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-item:nth-child(2) {
    margin-left: 30px;
  }
}

.header__contacts-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header__contacts-link:hover, .header__contacts-link:focus {
  color: var(--accent-color);
}

.header__contacts-icon--phone {
  width: 10px;
  height: 14px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .header__contacts-icon--phone {
    width: 10px;
    height: 16px;
  }
}

.header__contacts-icon--envelope {
  width: 14px;
  height: 10px;
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .header__contacts-icon--envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .header__contacts-link--padbot {
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 1199px) {
  .header__contacts-link--padtop {
    padding-top: 21px;
  }
}

.hero {
  background-color: var(--additional-background-color);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (max-width: 768px) {
  .hero {
    max-width: 767px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-mobile.png);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-tablet.png);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero-Img.png);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  color: var(--additional-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    max-width: 696px;
  }
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin-bottom: 0;
    flex-basis: calc(100% / 4 - 30px);
  }
}

@media screen and (max-width: 767px) {
  .features__item + .features__item {
    margin-top: 30px;
  }
}

.features__item::before {
  content: "";
  display: block;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.features__item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.features__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.features__item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.features__item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.experience {
  padding-top: 94px;
  padding-bottom: 94px;
}

.experience__list {
  display: flex;
  margin-right: -30px;
}

.experience__item {
  position: relative;
  margin-right: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.experience__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.experience__text {
  position: absolute;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  color: var(--additional-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (max-width: 1200px) {
  .experience {
    display: none;
  }
}

.command {
  background-color: var(--secondary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.command__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .command__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) {
  .command__list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .command__list {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .command__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .command__item {
    margin-bottom: 0;
    flex-basis: calc(100% / 4 - 30px);
  }
}

.data {
  background-color: var(--additional-text-color);
  padding-top: 30px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .data {
    padding-bottom: 30px;
  }
}

.data__name {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.data__position {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.data__social-list {
  display: flex;
  justify-content: center;
}

.data__social-item + .data__social-item {
  margin-left: 10px;
}

.data__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #afb1b8;
  height: 44px;
  width: 44px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data__social-link:hover, .data__social-link:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.data__social-icon {
  fill: currentColor;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

@media screen and (max-width: 479px) {
  .clients__list {
    flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    margin-bottom: 0;
  }
}

.clients__item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .clients__item {
    margin-right: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    margin-bottom: 0;
    flex-basis: calc(100% / 6 - 30px);
  }
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92px;
  width: 210px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

.footer {
  background-color: var(--additional-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    justify-content: space-between;
  }
}

.footer__container--magin {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__container--magin {
    margin-bottom: 0;
    width: 231px;
  }
}

.footer__logo {
  text-align: center;
  margin-bottom: 20px;
  display: block;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.footer__logo--theme-light {
  color: var(--additional-text-color);
}

.address {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__link {
  color: var(--footer-link-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: var(--additional-text-color);
}

.address__link--theme-light {
  color: var(--additional-text-color);
}

.address__link--theme-light:hover, .address__link--theme-light:focus {
  color: var(--footer-link-text-color);
}

.address__item + .address__item {
  margin-top: 8px;
}

.footer-social {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-social {
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-bottom: 0;
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-social__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-social__title {
    text-align: left;
  }
}

.footer-social__list {
  display: flex;
  justify-content: center;
}

.footer-social__item + .footer-social__item {
  margin-left: 10px;
}

.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--primary-background-color);
}

.footer-form__title {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--additional-text-color);
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__title {
    text-align: left;
  }
}

.footer-form__content {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-form__content {
    flex-direction: row;
  }
}

.footer-form__mail {
  height: 50px;
  padding: 0;
  padding-left: 16px;
  color: var(--additional-text-color);
  outline: none;
  background-color: var(--additional-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .footer-form__mail {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__mail {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.footer-form__mail::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form__mail:focus {
  border-color: var(--additional-text-color);
}

.btn-footer {
  position: relative;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.btn-footer:focus, .btn-footer:hover {
  background-color: #188ce8;
  box-shadow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__menu {
  display: flex;
  flex-wrap: wrap;
  margin-right: -8px;
  margin-bottom: -15px;
}

@media screen and (min-width: 768px) {
  .portfolio__menu {
    justify-content: center;
    margin-bottom: 0;
  }
}

.portfolio__item {
  margin-right: 8px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    margin-bottom: 0;
  }
}

.portfolio__btn--static {
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--additional-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}

.portfolio__btn {
  font-family: inherit;
  background-color: var(--secondary-background-color);
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__btn:hover, .portfolio__btn:focus {
  background-color: var(--accent-color);
  color: var(--additional-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set {
    margin-top: 50px;
  }
}

.card-set__items:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .card-set__items {
    flex-basis: calc((100% - 60px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .card-set__items {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.card-set__box {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .card-set__box {
    flex-grow: 1;
  }
}

.card-set__title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-set__subtitle {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.card-set__overflow {
  position: relative;
  overflow: hidden;
}

.card-set__link {
  text-decoration: none;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .card-set__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.card-set__link:hover, .card-set__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-set__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.card-set__link:hover .card-set__text {
  opacity: 1;
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.backdrop--hidden .modal {
  transform: translate(-50%, -50%) scale(1.6);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  background-color: var(--additional-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 468px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 580px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--additional-text-color);
}

.modal__btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .modal__btn-icon,
.modal__btn-close:focus .modal__btn-icon {
  fill: var(--accent-color);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
}

.form-field {
  display: block;
  margin-bottom: 10px;
}

.form-field__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  color: var(--secondary-text-color);
}

.form-field__box {
  display: block;
  position: relative;
  margin-top: 4px;
}

.form-field__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border-color: var(--accent-color);
}

.comment-field__comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  outline: none;
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-field__comment:focus {
  border-color: var(--accent-color);
}

.comment-field__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.btn-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 55px;
}

.btn-form:focus, .btn-form:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus + .form-field__icon {
  fill: var(--accent-color);
}

.form-checkbox {
  display: block;
  margin-top: 20px;
}

.form-checkbox__text {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
}

@media screen and (min-width: 1200px) {
  .form-checkbox__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.form-checkbox__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-checkbox__policy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  margin-right: 7px;
}

@media screen and (min-width: 1200px) {
  .form-checkbox__policy {
    margin-left: 12px;
  }
}

.checkbox:checked + .form-checkbox__policy {
  border: transparent;
  background-color: var(--accent-color);
}

.form-checkbox__icon {
  fill: transparent;
}

.checkbox:checked + .form-checkbox__policy .form-checkbox__icon {
  fill: var(--additional-text-color);
}
/*# sourceMappingURL=main.css.map */